{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if not password %}
<form action="{% url 'create_password_for_access_to_store' %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" value="Создать" class="btn btn-success mt-3">
</form>
{% else %}
<p class="h3 mt-3">У вас уже имеется пароль для доступа к хранилищу!!!!</p>
<a href="" class="btn btn btn-primary">Изменить</a>
<a href="" class="btn btn btn-danger">Удалить</a>
{% endif %}
{% endblock %}