{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p class="h3 text-center">Мои пароли</p>
<table class="table table-bordered border-dark">
    <tbody>
    <thead class="table-dark">
    <tr>
        <th scope="col">Пароль</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Электронная почта</th>
        <th scope="col">Описание</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    {% for password in passwords %}
    <tr>
        <td>{{ password.password }}</td>
        <td>{{ password.username }}</td>
        <td>{{ password.email }}</td>
        <td>{{ password.description }}</td>
        <td><a href="" class="btn btn-danger">Удалить</a></td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}