{% extends '../base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<p class="h3 text-center">Мои пароли</p>
{% if passwords %}
<table class="table table-bordered border-dark">
    <tbody>
    <thead class="table-dark">
    <tr>
        <th scope="col">Пароль</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Электронная почта</th>
        <th scope="col">Описание</th>
        <th scope="col">Действие</th>
    </tr>
    </thead>
    {% for password in passwords %}
    <tr>
        <td>{{ password.password }}</td>
        <td>{{ password.username }}</td>
        <td>{{ password.email }}</td>
        <td>{{ password.description }}</td>
        <td>
            <form method="POST"
                  action="{% url 'delete_password_in_store' password.pk %}">
                {% csrf_token %}<input class="btn btn-danger" type="submit"
                                       value="Удалить">
            </form>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% else %}
<p class="h3">У Вас нет паролей</p>
{% endif %}
<a href="{% url 'create_password_in_store' %}" class="btn btn-primary">Добавить
    пароль</a>
<a href="{% url 'close_access' %}" class="btn btn-danger">Закрыть доступ</a>
{% endblock %}